@font-face {
  font-family:'montserrat-regular';
  src: url('../fonts/montserrat/Montserrat-Regular.otf'),
       url('../fonts/montserrat/Montserrat-Regular.ttf')
}

@font-face {
  font-family:'montserrat-bold';
  src: url('../fonts/montserrat/Montserrat-Bold.otf'),
       url('../fonts/montserrat/Montserrat-Bold.ttf')
}

@font-face {
  font-family:'lato-regular';
  src: url('../fonts/lato/Lato-Regular.ttf')
}

@font-face {
  font-family:'lato-bold';
  src: url('../fonts/lato/Lato-Bold.ttf')
}

