/*Theames Color*/
/*Text Colors*/
/* This file includes all the font families of kinnect2*/
.header-main {
  background-color: #505050;
  height: 30px;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  left: 0; }

.header-container {
  width: 1170px;
  margin: 0 auto; }
  .header-container a.btn {
    float: right;
    min-width: 100px; }

.logo {
  background-image: url(../images/svg/heade_icons/logo.svg);
  background-size: 140px 30px;
  background-position: left center;
  background-repeat: no-repeat;
  width: 140px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-top: -1px; }

.header-main ul {
  float: right; }

.header-main ul li {
  float: left;
  color: #bbb; }

.header-main ul li span.skore-digits {
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 1px 0 #000; }

.header-main input[type="text"] {
  background-color: #3a3a3a;
  border: 1px solid #505050;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 30px 7px 8px;
  width: 218px; }

.header-main input:focus {
  color: #c0c0c0; }

.header-main form {
  position: relative; }

.header-main a.sIcon {
  background-image: url(../images/svg/heade_icons/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  right: 9px;
  top: 8px; }

ul li.header-menu {
  padding: 6px 0px;
  line-height: normal; }

ul li.header-menu a {
  width: 18px;
  height: 18px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  margin-right: 20px; }

ul li.header-menu a:hover {
  cursor: pointer;
  opacity: 0.5; }

ul li.header-menu a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px; }

ul li.header-menu a.dashboard {
  background-image: url(../images/svg/heade_icons/dashboard.svg); }

ul li.header-menu a.inbox {
  background-image: url(../images/svg/heade_icons/inbox.svg);
  background-size: 18px 14px; }

ul li.header-menu a.notifications {
  background-image: url(../images/svg/heade_icons/Notifications.svg);
  background-size: 14px 18px; }

ul li.header-menu a.invite {
  background-image: url(../images/svg/heade_icons/InviteKinnectors.svg); }

ul li.header-menu a.favourite {
  background-image: url(../images/svg/heade_icons/FavouriteFeeds.svg); }

ul li.header-menu a.koins {
  background-image: url(../images/svg/heade_icons/Kinnect2Coins.svg); }

ul li.header-menu a.cart {
  background-image: url(../images/svg/heade_icons/cart.svg); }

ul li.header-menu a span {
  background-color: #ff0000;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  left: 10px;
  line-height: 10px;
  min-height: 12px;
  min-width: 12px;
  padding: 2px 2px 0px;
  position: relative;
  text-align: center;
  top: -10px; }

ul li a.profile img {
  border-radius: 50%;
  float: left;
  margin-top: 1px;
  margin-right: 10px;
  margin-left: 1px; }

ul li a.profile {
  background-image: url(../images/svg/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7px 6px;
  padding: 0 16px 0 0;
  color: #c0c0c0;
  font-size: 14px;
  display: inline-block;
  line-height: 26px;
  min-width: 140px;
  position: relative;
  z-index: 2; }

ul li.profile-tooltip {
  background-color: #3a3a3a;
  border-radius: 15px 10px 10px 15px;
  margin-left: 10px;
  padding: 2px 10px 2px 3px;
  position: relative; }
  ul li.profile-tooltip.admin {
    background: none; }
    ul li.profile-tooltip.admin a.profile {
      min-width: 114px; }
    ul li.profile-tooltip.admin #popUpText {
      padding: 0;
      margin: 0 8px;
      border-radius: 8px;
      top: 30px; }
      ul li.profile-tooltip.admin #popUpText a {
        padding: 10px 12px; }

#popUpText {
  display: none;
  position: absolute;
  top: 18px;
  right: 0px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background-color: #3a3a3a;
  overflow: hidden;
  width: 100%;
  padding-top: 15px; }
  #popUpText a {
    display: block;
    padding: 10px 10px 10px 15px;
    font-size: 13px;
    color: #c0c0c0;
    line-height: normal;
    border-bottom: 1px solid #c0c0c0; }
    #popUpText a span {
      background: #0080e8;
      color: #ffffff;
      padding: 2px 5px;
      border-radius: 4px;
      float: right;
      margin-top: -2px; }
  #popUpText a:hover {
    background-color: #ee4b08;
    color: #ffffff; }
  #popUpText a:last-child {
    border-bottom: none; }

#popUp {
  display: none;
  position: absolute;
  right: 40px; }

#popUp:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -22px;
  border: 5px solid;
  border-color: transparent transparent #ee4b08 transparent; }

div[role='dialog'] {
  display: none; }

div.uiToggleDialog[role="dialog"] {
  display: block; }

.search-dropdown {
  background-color: #ffffff;
  display: block;
  line-height: normal;
  overflow: hidden;
  position: absolute;
  width: 240px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
  margin-left: 11px; }

.search-separator {
  background-color: #505050;
  color: #ffffff;
  padding: 5px; }

.search-dropdown-item {
  display: block;
  overflow: hidden;
  padding: 5px; }
  .search-dropdown-item:hover {
    background-color: #f0f0f0; }

.item-img {
  border-radius: 50%;
  overflow: hidden; }
  .item-img img {
    display: block; }

.item-txt {
  color: #ee4b08;
  padding: 15px 0px 0 10px; }

.search-dropdown-item:nth-of-type(even) {
  background: #e8e8e8; }
  .search-dropdown-item:nth-of-type(even):hover {
    background-color: #d3d3d3; }

.search-btn {
  padding: 10px; }

.pulldown_contents_wrapper {
  background-color: #dcdcdc;
  background-image: none !important;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 40px;
  line-height: normal;
  overflow: hidden;
  max-width: 445px; }

.pulldown_options {
  background-color: #505050;
  padding: 10px;
  overflow: hidden; }
  .pulldown_options a {
    background: #ee4b08 !important;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    height: auto !important;
    line-height: 2;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    width: auto !important;
    opacity: 1 !important; }

.pulldown_options a:first-child {
  margin-right: 10px !important; }

.pulldown_contents {
  line-height: normal;
  overflow: hidden; }
  .pulldown_contents ul {
    float: none; }

span.notification_item_general {
  overflow: hidden; }
  span.notification_item_general a {
    background-image: none !important;
    color: #ee4b08;
    display: inline-block !important;
    float: none !important;
    height: auto !important;
    margin: 0 !important;
    width: auto !important; }
    span.notification_item_general a:hover {
      opacity: 1 !important;
      text-decoration: underline; }

.notifications_unread, .notifications_read {
  float: none !important; }

.notifications_read {
  background-color: #f5f5f5; }

div[role='dialog'] {
  display: none; }

div.uiToggleDialog[role="dialog"] {
  display: block; }

.notifications_menu li {
  padding: 5px 10px;
  border-bottom: 1px solid #c0c0c0; }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat/Montserrat-Regular.otf"), url("../fonts/montserrat/Montserrat-Regular.ttf"); }
@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat/Montserrat-Bold.otf"), url("../fonts/montserrat/Montserrat-Bold.ttf"); }
@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/lato/Lato-Regular.ttf"); }
@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/lato/Lato-Bold.ttf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "montserrat-regular"; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #f6f6f6;
  font-size: 14px;
  color: #666666; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clrfix {
  clear: both;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0; }

/*index page categories*/
.content-wrapper {
  width: 1170px;
  margin: 0 auto; }

.categories-wrapper {
  overflow: hidden;
  margin-bottom: 30px; }
  .categories-wrapper .categories-box {
    float: left;
    box-shadow: 0px 0px 1px #e2e2e2;
    padding: 16px 18px;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    width: 270px;
    margin-right: 30px; }
    .categories-wrapper .categories-box .main-title {
      overflow: hidden;
      line-height: 14px;
      margin-bottom: 15px; }
      .categories-wrapper .categories-box .main-title h2 {
        font-family: 'montserrat-bold';
        font-size: 16px;
        color: #333;
        float: left;
        text-transform: uppercase; }
      .categories-wrapper .categories-box .main-title a {
        color: #4d82b8;
        float: right; }
        .categories-wrapper .categories-box .main-title a:hover {
          text-decoration: underline; }
    .categories-wrapper .categories-box ul {
      border-top: 1px solid #f0f0f0;
      padding-top: 10px; }
      .categories-wrapper .categories-box ul li {
        line-height: 36px; }
        .categories-wrapper .categories-box ul li a {
          font-family: 'lato-regular';
          font-size: 14px;
          color: #333333; }

.promotion-wrapper {
  overflow: hidden;
  box-shadow: 0px 0px 1px #e2e2e2;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  margin-bottom: 30px; }

.category-left-col .pro-detail {
  padding: 20px;
  overflow: hidden; }
  .category-left-col .pro-detail .slogan {
    overflow: hidden;
    float: left; }
    .category-left-col .pro-detail .slogan h2 {
      font-family: "montserrat-bold";
      font-size: 22px;
      color: #333333;
      padding-bottom: 10px; }
    .category-left-col .pro-detail .slogan div {
      font-family: 'lato-bold';
      font-size: 14px;
      color: #666666; }
  .category-left-col .pro-detail .pro-price {
    float: right;
    text-align: right; }
    .category-left-col .pro-detail .pro-price div {
      font-family: 'lato-bold';
      font-size: 14px;
      color: #666666;
      padding-bottom: 10px; }
    .category-left-col .pro-detail .pro-price h4 {
      font-family: 'lato-bold';
      font-size: 18px;
      color: #4d82b8; }

.category-right-col {
  overflow: hidden; }
  .category-right-col .indiv-product-box {
    float: left;
    border-left: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6; }
    .category-right-col .indiv-product-box .product-img {
      border-bottom: 2px solid #f6f6f6;
      width: 290px;
      height: 236px; }
      .category-right-col .indiv-product-box .product-img img {
        width: 100%;
        height: 100%; }
    .category-right-col .indiv-product-box .product-name {
      padding: 20px; }
      .category-right-col .indiv-product-box .product-name h4 {
        font-family: "montserrat-bold";
        font-size: 16px;
        color: #333333;
        padding-bottom: 10px; }
      .category-right-col .indiv-product-box .product-name div {
        font-family: "montserrat-regular";
        font-size: 14px;
        color: #666666; }

/*# sourceMappingURL=cartimatic-main.css.map */
